<html>
	<head>
		<title>Catarang! Jobs</title>
	</head>
	<body>
		<script type="text/javascript" src="../static/cat.js"></script>
		<script type="text/javascript" src="../static/job.js"></script>
		This is the job: {{.JobData.Name}}
		<br><br>

		<strong>Job:</strong>
		<button type="button" onclick="startJob('{{.JobData.Name}}');">Start Job</button>
		<button type="button" onclick="deleteJob('{{.JobData.Name}}');">Delete Job</button>
		<button type="button" onclick="cleanJob('{{.JobData.Name}}');">Clean Job</button>
		<br>
		<br>
		<strong>Job instances output:</strong>
		<ol id="console_log">
			{{range $index, $instance := .History}}
				<li id="{{$instance.Num}}">
					Job Status: {{$instance.Inst.Status}}<br>
					{{range $jStep := $instance.Inst.Steps}}
						Job section: {{$jStep.Log.Name}}
						<br>
						{{range $cmd := $jStep.Log.Cmds}}
							+ {{$cmd.Args}}
							<br>
							&nbsp&nbsp&nbsp&nbsp{{$cmd.Str}}
							<br>
						{{end}}
					{{end}}
					<br>
					Error (if it exists): {{$instance.Inst.Error}}
				</li>
			{{ end }}
		</ol>
		END!
	</body>
</html>
