<html>
	<head>
		<title>Catarang! Jobs</title>
	</head>
	<body>
		<script type="text/javascript" src="../static/cat.js"></script>
		<script type="text/javascript" src="../static/job.js"></script>
		This is the job: {{.JobConfig.Name}}
		<br><br>

		<strong>Job:</strong>
		<button type="button" onclick="startJob('{{.JobConfig.Name}}');">Start Job</button>
		<button type="button" onclick="deleteJob('{{.JobConfig.Name}}');">Delete Job</button>
		<br>
		<br>
		<strong>Job instances output:</strong>
		<ol id="console_log">
			{{ range $index, $instance := .History }}
				<li id="{{$index}}">
					{{range $jLog := $instance.Log}}
						Job section: {{$jLog.Name}}
						<br>
						{{range $cmd := $jLog.Cmds}}
							+ {{$cmd.Cmd.Args}}
							<br>
							&nbsp&nbsp&nbsp&nbsp{{$cmd.Str}}
							<br>
						{{end}}
					{{end}}
				</li>
			{{ end }}
		</ol>
	</body>
</html>
