<html>
	<head>
		<title>Catarang!</title>
	</head>
	<body>
		<script type="text/javascript" src="static/cat.js"></script>
		This is Catarang, a Continuous Integration Server being written by Austin Kelmore in Go.
		<br><br>

		<strong>Jobs:</strong>
		<ul>
			{{ range $key, $value := .Jobs }}
				<li>{{ $value.Name }} (
				{{ if $value.Enabled }}
					Enabled
				{{ else }}
					Disabled
				{{ end }} )
				<br>
				Origin Repository: {{ $value.CurConfig.SourceControl.Origin }}</li>
				<button type="button" onclick="startjob('{{$value.Name}}')">Start Job</button>
			{{ end }}
		</ul>
		<br>
		<strong>Add a new job:</strong>
		<form action="/addjob" method="POST">
			Name: <input type="text" name="name" required><br>
			git URL: <input type="text" name="repo" required><br>
			<input type="submit" value="Add New Job">
		</form>
		<br>
		<br>
		<strong>Job console output:</strong>
		<ol id="console_log">

		</ol>
	</body>
</html>
